<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Enabled</key>
		<true/>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>nativescript.mobile.devices.controller.server</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/opt/node@10/bin/node:/usr/local/opt/node@10/bin/:/usr/local/opt/node@10/:usr/local/opt/:/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin:$PATH</string>
			<key>ANDROID_HOME</key>
			<string>/Users/tsenov/Library/Android/sdk</string>
		</dict>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/lib/node_modules/mobile-devices-controller-server/bin/www</string>
			<string>--port 8700 --mongodb</string>
		</array>
		<key>WorkingDirectory</key>
		<string>/</string>
		<key>StandardOutPath</key>
		<string>/Users/tsenov/logs/mobile-devices-controller-server-output.txt</string>
		<key>StandardErrorPath</key>
		<string>/Users/tsenov/logs/mobile-devices-controller-errors.txt</string>
		<key>HardResourceLimits</key>
		<dict>
			<key>NumberOfFiles</key>
			<integer>4096</integer>
		</dict>
		<key>SoftResourceLimits</key>
		<dict>
			<key>NumberOfFiles</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>