<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Enabled</key>
		<true/>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>Label</key>
		<string>nativescript.mobile.devices.controller.server</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/nsbuilduser/git/mobile-devices-controller-server/resources/start-mobile-devices-controller-server.sh</string>
		</array>
		<key>WorkingDirectory</key>
		<string>/</string>
		<key>StandardOutPath</key>
		<string>/Users/tsenov/logs/mobile-devices-controller-server-output.txt</string>
		<key>StandardErrorPath</key>
		<string>/Users/tsenov/logs/mobile-devices-controller-errors.txt</string>
		<key>HardResourceLimits</key>
		<dict>
			<key>NumberOfFiles</key>
			<integer>4096</integer>
		</dict>
		<key>SoftResourceLimits</key>
		<dict>
			<key>NumberOfFiles</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>